---
import Package from 'package.json';

import CookieConsent from '../CookieConsent/CookieConsent.astro';
---

<footer>
  <div class="container mx-auto px-4 py-8 text-center">
    <div class="flex flex-col items-center justify-center md:flex-row">
      <p class="text-gray-600 md:after:separator dark:text-gray-400">
        © {new Date().getFullYear()} Miguel Mendoza. All rights reserved.
      </p>
      <div transition:persist="cookie-consent" id="cc-container">
        <CookieConsent />
      </div>
    </div>
    <p class="mt-2 text-gray-500">
      Made with ❤️ by <a href="/" class="font-bold hover:underline">Miguel Mendoza</a>
    </p>
    <p class="text-gray-600 dark:text-gray-400">v{Package.version}</p>
  </div>
</footer>
