---
import Layout from '@/layouts/Base.astro';
---

<Layout title="Miguel Mendoza | Zandome">
  <div class="flex h-dvh w-full flex-col items-center justify-center">
    <div class="mb-10 flex flex-col items-center justify-center gap-y-2">
      <span class="text-[20px]">Ooops!</span>
      <h2 class="text-xl">
        This is not the page<br />you're <i class="font-bold text-slate-400">looking for 👀</i>
      </h2>
    </div>

    <a
      href="/"
      class="flex gap-x-2 rounded-md border-2 border-slate-400 px-4 py-2 font-semibold text-slate-400 transition-colors hover:border-white hover:text-white"
      >Go to home</a
    >
  </div>
</Layout>
