---
import { Picture } from 'astro:assets';

import PictureProfile from '@/assets/images/profile-picture.png';
import Button from '@/components/shared/Button.astro';
import Layout from '@/layouts/Base.astro';
---

<Layout title="Miguel Mendoza | Zandome">
  <section class="container mx-auto h-dvh">
    <div class="flex min-h-dvh w-full flex-col gap-y-10 md:flex-row">
      <div class="order-2 flex flex-col items-baseline justify-center md:order-1 md:flex-1">
        <h1>
          <span class="block text-2xl italic text-shadow-bahama-blue-lighter"> Hello there!</span>
          <span class="bold block text-5xl"> I'm Miguel Mendoza</span>
        </h1>
        <p class="mt-6">
          A passionate Software Developer with a knack for creating efficient and scalable
          applications. My journey in technology is driven by a commitment to continuous learning
          and a desire to solve real-world problems.
        </p>
        <div class="mt-8 flex flex-row gap-x-4">
          <Button href="/cv">Know more about me</Button>
          <!-- <Button>Contact</Button> -->
        </div>
      </div>
      <div class="order-1 flex items-center justify-center md:order-2 md:flex-1">
        <div class="flex w-2/3 items-center justify-center">
          <Picture
            formats={['webp', 'jpeg']}
            format="webp"
            src={PictureProfile}
            alt="Profile"
            fetchpriority="high"
            transition:animate="slide"
            transition:name="profile"
            class="aspect-square rounded-full border-2 border-white object-cover"
          />
        </div>
      </div>
    </div>
  </section>
  <!-- <div class="flex h-full w-full flex-col items-center justify-center">
    <div class="mb-6 max-w-[200px]">
      <ZandomeLogo />
    </div>
    <div
      class="pointer-events-none mb-8 flex animate-text-loading-fade flex-col items-center select-none"
    >
      <h1 class="mb-2 text-6xl">Zandome</h1>
      <div class="text-slate-400">
        <span class="text-[20px] font-bold">
          Coming Soon
          <span class="mx-[2px] animate-text-loading-dot-pulse text-[25px]"> .</span>
          <span
            class="mx-[2px] animate-text-loading-dot-pulse text-[25px]"
            style={{ animationDelay: '0.2s' }}
          >
            .
          </span>
          <span
            class="mx-[2px] animate-text-loading-dot-pulse text-[25px]"
            style={{ animationDelay: '0.4s' }}
          >
            .
          </span>
        </span>
      </div>
    </div>
    <div class="animate-text-loading-fade">
    </div>
  </div> -->
</Layout>
