---
import Layout from '@layouts/Layout.astro'
import ZandomeLogo from '@components/ZandomeLogo.astro'
---

<Layout title='Zandome'>
  <div
    class='flex h-full w-full flex-col items-center justify-center pointer-events-none select-none'
  >
    <div class='mb-6 max-w-[200px]'>
      <ZandomeLogo />
    </div>
    <div class='mb-8 flex flex-col items-center animate-fadeLoadingText'>
      <h1 class='text-6xl mb-2'>Zandome</h1>
      <div class='text-slate-400'>
        <span class='text-[20px] font-bold'>
          Coming Soon
          <span class='mx-[2px] animate-blinkDotLoadingText text-[25px]'>
            .</span
          >
          <span
            class='mx-[2px] animate-blinkDotLoadingText text-[25px]'
            style={{ animationDelay: '0.2s' }}
          >
            .
          </span>
          <span
            class='mx-[2px] animate-blinkDotLoadingText text-[25px]'
            style={{ animationDelay: '0.4s' }}
          >
            .
          </span>
        </span>
      </div>
    </div>
  </div>
</Layout>
