---
import { Picture } from 'astro:assets';

import PictureProfile from '@/assets/images/profile-picture.png';
import Button from '@/components/Button.astro';
import Layout from '@/layouts/Base.astro';
---

<Layout title="Miguel Mendoza | Zandome">
  <div class="container mx-auto h-dvh">
    <div class="flex h-dvh w-full flex-row">
      <div class="flex flex-1 flex-col items-baseline justify-center">
        <h1 class="text-title">Crafting Innovative Software Solutions for Tomorrow</h1>
        <p class="mt-6">
          I am a passionate software developer with a knack for creating efficient and scalable
          applications. My journey in technology is driven by a commitment to continuous learning
          and a desire to solve real-world problems.
        </p>
        <div class="mt-8 flex flex-row gap-x-4">
          <Button href="/cv">Know more about me</Button>
          <!-- <Button>Contact</Button> -->
        </div>
      </div>
      <div class="flex flex-1 items-center justify-center">
        <Picture
          formats={['webp', 'jpeg']}
          format="webp"
          src={PictureProfile}
          alt="Profile"
          fetchpriority="high"
          transition:animate="slide"
          transition:name="profile"
          class="aspect-square w-30 rounded-full object-cover not-print:border-2 not-print:border-white"
        />
      </div>
    </div>
  </div>
  <!-- <div class="flex h-full w-full flex-col items-center justify-center">
    <div class="mb-6 max-w-[200px]">
      <ZandomeLogo />
    </div>
    <div
      class="pointer-events-none mb-8 flex animate-text-loading-fade flex-col items-center select-none"
    >
      <h1 class="mb-2 text-6xl">Zandome</h1>
      <div class="text-slate-400">
        <span class="text-[20px] font-bold">
          Coming Soon
          <span class="mx-[2px] animate-text-loading-dot-pulse text-[25px]"> .</span>
          <span
            class="mx-[2px] animate-text-loading-dot-pulse text-[25px]"
            style={{ animationDelay: '0.2s' }}
          >
            .
          </span>
          <span
            class="mx-[2px] animate-text-loading-dot-pulse text-[25px]"
            style={{ animationDelay: '0.4s' }}
          >
            .
          </span>
        </span>
      </div>
    </div>
    <div class="animate-text-loading-fade">
    </div>
  </div> -->
</Layout>
