---
import Button from '@/components/Button';
import Layout from '@/layouts/Base.astro';
---

<Layout title="Miguel Mendoza | Zandome">
  <div class="container mx-auto h-[1000px]">
    <div class="flex h-dvh w-full flex-row">
      <div class="flex flex-1 flex-col items-baseline justify-center">
        <h1 class="text-title">Crafting Innovative Software Solutions for Tomorrow</h1>
        <p class="mt-6">
          I am a passionate software developer with a knack for creating efficient and scalable
          applications. My journey in technology is driven by a commitment to continuous learning
          and a desire to solve real-world problems.
        </p>
        <div class="mt-8 flex flex-row gap-x-4">
          <Button>Learn More</Button>
          <Button>Contact</Button>
        </div>
      </div>
      <div class="flex flex-1"></div>
    </div>
  </div>
  <!-- <div class="flex h-full w-full flex-col items-center justify-center">
    <div class="mb-6 max-w-[200px]">
      <ZandomeLogo />
    </div>
    <div
      class="pointer-events-none mb-8 flex animate-text-loading-fade flex-col items-center select-none"
    >
      <h1 class="mb-2 text-6xl">Zandome</h1>
      <div class="text-slate-400">
        <span class="text-[20px] font-bold">
          Coming Soon
          <span class="mx-[2px] animate-text-loading-dot-pulse text-[25px]"> .</span>
          <span
            class="mx-[2px] animate-text-loading-dot-pulse text-[25px]"
            style={{ animationDelay: '0.2s' }}
          >
            .
          </span>
          <span
            class="mx-[2px] animate-text-loading-dot-pulse text-[25px]"
            style={{ animationDelay: '0.4s' }}
          >
            .
          </span>
        </span>
      </div>
    </div>
    <div class="animate-text-loading-fade">
    </div>
  </div> -->
</Layout>
