---
import Button from './Button.astro';
import ZandomeLogo from './ZandomeLogo.astro';
---

<header class="fixed z-50 w-full border-b-2 border-b-white/30 bg-background">
  <div class="container mx-auto flex items-center justify-between py-4">
    <a
      href="/"
      class="h-10 w-14"
      transition:name="logo"
      transition:animate="initial"
      transition:persist
    >
      <picture>
        <ZandomeLogo isNegative />
      </picture>
    </a>
    <!-- <nav>
      <ul class="flex space-x-4">
        <li>Home</li>
        <li>About Me</li>
        <li>My Skills</li>
        <li>Projects</li>
      </ul>
    </nav> -->
    <div class="socials">
      <!-- <a
        class="group ring-none font-dm flex h-min items-center justify-center rounded-lg border-b-4 border-b-violet-700 bg-violet-500 px-4 py-2 text-sm font-semibold text-white shadow-lg ring-white hover:border-0 hover:text-gray-100 hover:opacity-95 focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-violet-500 active:border-0 active:bg-violet-800 active:text-gray-300 disabled:border-0 disabled:bg-violet-500 disabled:text-white disabled:opacity-50 disabled:hover:opacity-50 sm:text-base dark:border-gray-700 dark:border-b-gray-900 dark:bg-gray-700"
        href="/"
      >
        Create demos for free
      </a> -->
      <Button href="mailto:miguel@zandome.dev"> Contact Me </Button>
    </div>
  </div>
</header>
