---
type Props = {
  technology: string;
};

const { technology } = Astro.props;
---

<span
  class="mr-2 mb-2 inline-block rounded-full bg-white/10 px-3 py-1 text-sm select-none print:hidden"
>
  {technology}
</span>
