---
import '@/styles/global.css';

import CookieConsent from '@/components/CookieConsent/CookieConsent.astro';
import { Header, Head, Footer } from '@/components/shared';

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <Head title={title} />
  </head>
  <body class="">
    <Header />
    <main class="container mx-auto h-full max-w-4xl px-5 pt-20">
      <slot />
      <CookieConsent />
    </main>
    <Footer />
  </body>
</html>
